page-nothing-found {
    ion-content{
        background: linear-gradient(to bottom,color($colors, light)280px,color($colors,light)0%);
    }  
    p{
        color: rgb(156, 156, 156);
        font-size: 12px
    }
    div{
        margin: 0 auto;
        position: relative;
        top : 2em;  
      }
      #sad{
          zoom: 1.5;
          color: white
      }
      .btn{
          width:60%;
          margin-top: 10%;
      }
      .text{
          margin-top: -15%;
      }
}

