<ion-card *ngIf="msg" padding>
    <ion-card-header text-center *ngIf='msg.heading'>
      <b>{{msg?.heading}}</b>
    </ion-card-header>
  
    <ion-card-content text-center *ngIf='msg.message'>
     {{msg?.message}}
    </ion-card-content>
  
    <ion-row>
      
      <ion-col>
        <button ion-button block color='danger' (tap)="decline()">
          {{msg?.button?.decline}}
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block color='secondary' (tap)="accept()">
          {{msg?.button?.accept}}
        </button>
      </ion-col>
    </ion-row>
  
  
  
  </ion-card>
  