<div class="customer">
  <ion-row>
    <ion-col col-2>
      <div align="center">
      <img class="person" src="../../assets/imgs/person.svg" alt="Snow">
      </div>
    </ion-col>
    <ion-col col-9>
      <ion-row>
        <ion-col col-7>
      <p class="customerName">Nitin Yadav</p>
      <ion-fab top right style="zoom: 0.5; margin-top: 37px; margin-right: 5%;">
        <button class="tick" ion-fab mini>
          <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon></button>
      </ion-fab>
    </ion-col>
    </ion-row>
    <ion-row class="address">
      <ion-col col-12>
        <p style="font-size: 18px; color: black;"><b>Address:- </b>{{supplyData?.address}}</p>
    </ion-col>
    </ion-row>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
      <div align="center">
      <p class="header1">Quantity</p>
      <p class="subheader">{{supplyData?.quantity || 0}} ltrs</p>
    </div>
    </ion-col>
    <ion-col col-3>&nbsp;</ion-col>
    <ion-col col-5>
      <div align="center">
        <p class="header1">Date & Time</p>
        <p class="subheader">{{supplyData?.assigned_time}}</p>
          </div>
    </ion-col>
    </ion-row>
    <ion-row >
    <ion-col col-4>
      <div align="center">
        <p class="header1">Rate</p>
        <p class="subheader">{{supplyData?.rate | currency :'INR' :true}}</p>
      </div>
    </ion-col>
    <ion-col col-3>&nbsp;</ion-col>
    <ion-col col-5>
      <div align="center">
      <p class="header1">Payment Mode</p>
      <p class="subheader">{{supplyData?.payment_mode_name}}</p>
    </div>
    </ion-col>
  </ion-row>
</div>


<!-- 
<ion-card class="card1">
  <div class="cardtext">
    <p style="font-size: 16px; color: black;"><ion-icon ios="ios-pin" md="md-pin"></ion-icon>&nbsp; {{supplyData?.address}}</p>
    <p style="font-size: 20px; color: black; margin-top: 10px;"><b>{{supplyData?.customer_name | uppercase}}</b></p>
  </div>
  <br>
<div class="payment">
  <ion-row>
    <ion-col col-5>
  <p style="font-size: 26px; color: black;">{{supplyData?.quantity || 0}}<small> ltrs</small></p>
  <p style="font-size: 12px; margin-top: -12%; margin-left:6%; color: rgb(170, 166, 166);">QUANTITY</p>
    </ion-col>
    <ion-col col-3  align="center">
      &nbsp;
    </ion-col>
    <ion-col col-4>
      <p style="font-size: 26px; color: black;">{{supplyData?.rate | currency :'INR' :true}}</p>
      <p style="font-size: 12px; margin-top: -15%; margin-left:6%; color: rgb(170, 166, 166);">RATE</p>
        </ion-col>
    </ion-row>
</div>
  <div class="cardtext">
    <p style="font-size: 16px; color: black;"><ion-icon ios="ios-time" md="md-time"></ion-icon>&nbsp; {{supplyData?.assigned_time}}</p>
    <p style="font-size: 20px; color: black; margin-top: 10px;"><b>{{supplyData?.payment_mode_name}}</b></p>
    </div>
  </ion-card> -->

