delivery {
  .person{
    margin-top: 30px;
    margin-left: 5%;
    width: 50px;
  }
  .customerName{
    font-weight: bold;
    font-size: 20px;
  }
  .address{
    margin-top: -45px;
  }
  .tick{
    background-color:  #1aa7d6;
  }
  .header1{
    font-size: 16px; color: rgb(156, 152, 152); 
  }
  .subheader{
    font-size: 18px; margin-top: -5%; color: black; font-weight: bold;
  }
















  .card1{
    border-radius: 25px;
    background:white !important;
    height: auto;
  }
  .cardtext{
    margin-left: 7%;
    margin-top: 6%;
  }
  .card2{
    border-radius: 25px;
    background:#F98800 !important;
    height: 100px;
  }
  .payment{
    margin-left: 6%;
    margin-top: -10px;
    height: 70px;
  }









  .card{
    margin-top: 10%;
    background: linear-gradient(to bottom,color($colors, light)280px,color($colors,light)0%);
  }
  
  #icon{
    font-size: 15px;
    // padding-left: 5px
  }
  ion-card{
    border-radius: 6px;
  }
  #address{
    color: orange;
    font-size: 12px
  }
}
