
<ion-card>

  <ion-card-header>
    Delivery Details
  </ion-card-header>

  <ion-card-content>

    <table border="1" >
      <tr>
        <td>Customer</td>
        <td>{{delivery.customer}}</td>
      </tr>

      <tr>
        <td>Address</td>
        <td>{{delivery.address}}</td>
      </tr>

      <tr>
        <td>Quantity</td>
        <td>{{delivery.quantity}}</td>
      </tr>

      <tr>
        <td>Time For Delivery</td>
        <td>{{delivery.time_of_delivery}}</td>
      </tr>
    </table>


  </ion-card-content>

</ion-card>