page-otp {
    ion-content{
        background: linear-gradient(to bottom,color($colors, light)250px,color($colors,primary)0%) !important;
    } 
    .logo {
        width: 150px;   
        margin: 0 auto;
        position: relative;
        top : 110px;
    }
    .card{
        position:relative;
        top: 150px;
        border-radius: 6px;
        background-color: white;
        padding: 1em;
        }  

    #test{
        margin-bottom: 1em;
        border-bottom : 1px solid black;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
    }
    p b {
        font-size: 14px;
        color: green;
    }
    a{
        font-size: 18px;
    }
}
