page-sale {
  ion-title{
    margin-left: 20%;
  }
  ion-content{
    background: linear-gradient(to bottom,color($colors, light)280px,color($colors,light)0%) !important;
} 
    #arrow{
        // position: absolute;
        // right: 20px;
        padding: 10px
      }
      .card1{
        border-radius: 10px;
        background: #F98800 !important;
        height: 100px;
      }
      .cardtext{
        margin-left: 7%;
        margin-top: 6%;
      }
      #arrow{
        position: absolute;
        right: 20px;
      }
      #label{
        color: white;
        font-size: 17px;
        font-weight: bold;
      }
      #value{
        font-size: 18px;
        color: white;
      }

}
