payment-details {
  .card{
    border-radius: 6px;
    background: linear-gradient(to bottom,color($colors, light)280px,color($colors,light)0%) !important;
  }
    table {
        width: 100%;
      }
      
      th {
        height: 50px;
      }

    td{
        padding: 3px;
    }
    a{
      font-size: 20pt
    }
}
