.card{
  border-radius: 6px;
}
  a{
    font-size: 18pt
  }
  .amount{
    text-align-last: right;
    font-weight: bold;
    font-size: 18px;
    color: black;
  }
  p {
    color: rgb(129, 129, 129);
    font-size: 18px;
  }
  p b {
    font-size: 18px;
    color: black;
  }