payment-not-collected {
    // margin-top: 70%;

    display: flex!important;
    align-content: center!important;
    align-items: center!important;
    ion-card-header{
        text-decoration: underline;
    }

    .card{
        padding: 5em;
        border-radius: 10px;
    }

    .buttons{
        margin-top: 20px;
    }
    .dropdown{
        max-width: 100% !important;
       }
}
