payment-final-status {
    ion-content{
        background: linear-gradient(to bottom,color($colors, light)280px,color($colors,light)0%) !important;
    } 
    .card{
        // padding-bottom: 50%;
        // width: 0%;
        height: 100%;
        .icon{
            margin-top: 10%;
            zoom: 5;
        }
    }

    // .button{
    //     margin-top: 20%;
    // }
}
