payment-final-status {

   

    .card{
        // padding-bottom: 50%;
        // width: 0%;
        height: 100%;
        .icon{
            margin-top: 50%;
            zoom: 10;
        }
    }

    .button{
        margin-top: 20%;
    }
}
